<aside id="sidebar" class="hidden md:block bg-deep-3 text-white p-4" style="width:250px;">
  <nav>
    <ul class="space-y-2">
      <li>
        <button id="menuProducts" class="w-full text-left flex items-center justify-between px-2 py-2 rounded hover:bg-deep-2/60">
          <span class="sidebar-text">Produtos</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor"><path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 10.94l3.71-3.71a.75.75 0 111.06 1.06l-4.24 4.24a.75.75 0 01-1.06 0L5.21 8.29a.75.75 0 01.02-1.06z" clip-rule="evenodd"/></svg>
        </button>
        <ul id="productsDropdown" class="ml-2 mt-2 hidden space-y-1">
          <li><a href="/app/product-form.html" class="block px-3 py-1 rounded hover:bg-deep-2/40">Cadastrar Produto</a></li>
          <li><a href="/app/product-list.html" class="block px-3 py-1 rounded hover:bg-deep-2/40">Listar / Editar Produtos</a></li>
        </ul>
      </li>

      <li>
        <a href="/app/stock.html" class="block px-2 py-2 rounded hover:bg-deep-2/60">Estoque</a>
      </li>

      <li>
        <a href="/app/sales.html" class="block px-2 py-2 rounded hover:bg-deep-2/60">Vendas</a>
      </li>

      <li>
        <a href="/app/users.html" class="block px-2 py-2 rounded hover:bg-deep-2/60">Usuários</a>
      </li>
    </ul>
  </nav>
</aside>
